<!DOCTYPE html>


<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Åukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Problems</title>

    <link rel="manifest" href="../../library/coreui/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../library/coreui/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->




    <link href="../../library/coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">

    <link rel="stylesheet" href="../../library/coreui/dist/css/coreui.min.css" type="text/css">
    <link href="../../css/views/practice/list-problem.css" rel="stylesheet">



    <script src="../../library/coreui/dist/js/coreui.bundle.min.js"></script>
    <!--[if IE]><!-->
    <script src="../../library/coreui/icons/js/svgxuse.min.js"></script>
    <!--<![endif]-->
    <!-- Plugins and scripts required by this view-->
    <script src="../../library/coreui/chartjs/dist/js/coreui-chartjs.bundle.js"></script>
    <script src="../../library/coreui/utils/dist/coreui-utils.js"></script>
    <script src="../../library/jquery/jquery-3.5.1.js"></script>

</head>

<body class="c-app">

    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand d-lg-down-none">
            <svg class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
                <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg>
            <svg class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">
                <use xlink:href="assets/brand/coreui.svg#signet"></use>
            </svg>
        </div>
        <ul class="c-sidebar-nav">

            <li class="c-sidebar-nav-title">Adminstrator</li>
            <li class="c-sidebar-nav-item " id="profile">
                <a class="c-sidebar-nav-link " href="/admin">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/library/coreui/icons/sprites/free.svg#cil-user"></use>
                    </svg>Profile
                </a>

            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown" id="user">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/library/coreui/icons/sprites/free.svg#cil-people"></use>
                    </svg>Users
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item" id="list-all-user"><a class="c-sidebar-nav-link"
                            href="/admin/list-all-user?page=1"><span class="c-sidebar-nav-icon"></span> List all
                            user</a></li>
                    <li class="c-sidebar-nav-item" id="create-new-user"><a class="c-sidebar-nav-link"
                            href="/admin/create-new-user"><span class="c-sidebar-nav-icon"></span> Create new user</a>
                    </li>
                    <!-- <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="buttons/dropdowns.html"><span class="c-sidebar-nav-icon"></span> List Ban</a></li> -->

                </ul>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown c-show">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="charts.html">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/library/coreui/icons/sprites/free.svg#cil-calculator"></use>
                    </svg> Problems
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link " href="/admin/problem?page=1"><span
                                class="c-sidebar-nav-icon"></span> List all problem</a></li>
                    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link c-active"
                            href="/admin/create-new-problem"><span class="c-sidebar-nav-icon"></span> Create new
                            problem</a></li>


                </ul>
            </li>

        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
            data-class="c-sidebar-minimized"></button>
    </div>

    <div class="c-wrapper c-fixed-components">


        <!-- header layout -->
        <%- include('../header'); -%>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-sm-2 col-md-2"> </div>
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header"><strong>
                                            <h3>Create new problem</h3>
                                        </strong></div>
                                    <div class="card-body">
                                        <form class="form-horizontal" action="/problem/create" method="POST">

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="text-input">Title</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" type="text" name="title" required
                                                        placeholder="Title">
                                                    <!-- <span class="help-block">This is a help text</span> -->
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="textarea-input">Statement</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" name="statement" required rows="5"
                                                        placeholder="Statement."></textarea>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="textarea-input">Input</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" name="serverInput" required rows="3"
                                                        placeholder="Input."></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="textarea-input">Output</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" name="serverOutput" required rows="3"
                                                        placeholder="Output."></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="textarea-input">Sample
                                                    Input</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" name="sampleInput"
                                                        style="background-color: #f3f7f7;" required rows="3"
                                                        placeholder="Sample Input."></textarea>


                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="textarea-input">Sample
                                                    Output</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" name="sampleOutput"
                                                        style="background-color: #f3f7f7;" required rows="3"
                                                        placeholder="Sample Output."></textarea>


                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="text-input">Score</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" type="number" name="score" required
                                                        placeholder="Score">
                                                    <!-- <span class="help-block">This is a help text</span> -->
                                                </div>
                                            </div>


                                            <div class="card-footer" style="padding-bottom: 0;">

                                                <div class="row">
                                                    <!-- <div class="col-sm-2"></div> -->
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-block btn-outline-success"
                                                            type="submit">Submit</button>

                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3"></div>

                    </div>

                </div>
        </div>
        </main>

        <%- include('../footer'); -%>


    </div>
    </div>

    <script>
        //sub header
        $('#current-breadcrumb').append('<li class="breadcrumb-item">Admin</li>');
        $('#current-breadcrumb').append('<li class="breadcrumb-item">Create new problem</li>');



    </script>


</body>

</html>