<!DOCTYPE html>


<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Åukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title></title>
   
    <link rel="manifest" href="/library/coreui/assets/favicon/manifest.json">
    <link rel="stylesheet" href="/library/coreui/dist/css/coreui.min.css" type="text/css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/library/coreui/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->

    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>

    <link href="/library/coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">
</head>

<body class="c-app">


    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
    
            <div class="alert alert-danger" role="alert" style="margin-top: 20px;text-align: center;"><%=message%></div>
        </div>
    </div>
   

    <!-- CoreUI and necessary plugins-->
    <script src="/library/coreui/dist/js/coreui.bundle.min.js"></script>
    <!--[if IE]><!-->
    <script src="/library/coreui/icons/js/svgxuse.min.js"></script>
    <!--<![endif]-->
    <!-- Plugins and scripts required by this view-->
    <script src="/library/coreui/chartjs/dist/js/coreui-chartjs.bundle.js"></script>
    <script src="/library/coreui/utils/dist/coreui-utils.js"></script>
    <script src="/library/jquery/jquery-3.5.1.js"></script>
    <!-- <script src="js/main.js"></script> -->

   

</body>

</html>